################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/TheQueue.Server/bin/Debug/net6.0
/TheQueue.Server.Core/bin/Debug/net6.0
/TheQueue.Server.Core/obj
/TheQueue.Server/obj
/TheQueue.Server/bin/Release/net6.0
/TheQueue.Server.Core/bin/Release/net6.0
